@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,600&family=Raleway:wght@100;300;400;500&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


--black #1c2a39 --gray #5c6a79 --purple #4c3db2 --transition all ease-in-out * {



    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;


}

.navbar {
    height: 120px;
    width: 80%;
    margin-left: 10%;

}

/*

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

 
.menu_icons {
    list-style: none;
    display: flex;
    justify-content: end;
    font-size: 20px;
    color: grey;
    cursor: pointer;
    gap: 15px;
    margin-left: 400px;
}
*/

.menu,
.menu_icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.title {
    font-weight: bold;


}



.menu .active {
    color: black;
    font-weight: bold;
}

.menu li,
.menu_icons li {
    margin: 0 10px;
}

.menu_icons li {
    color: black;
}


.basket_icon {
    position: relative;
}

.basket_count {
    position: absolute;
    right: -0.4rem;
    bottom: 0;
    top: 1rem;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.basket_count:empty {
    display: none;
}

.slider {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

.slider img {
    height: 500px;
}

.store {
    width: 80%;
    margin-left: 10%;






}

.book_card {
    height: 400px;



}

.book_card img {
    height: 400px;
}

.fos {
    font-family: "Open Sans", sans-serif;
}

.gray {
    color: gray;
}

.black {
    color: black;
}

.fw-bold {
    font-weight: bold;
}

.book_star-rate .bi-star,
.bi-star-fill {
    color: #eeedf5;
    font-size: 1.2rem;
    margin-right: 5px;
}

.book_star-rate .bi-star-fill.active {
    color: #f2c94c;
}

.book_description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn_purple {
    cursor: pointer;
    border: 2px solid purple;
    color: purple;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    transition: all 250ms ease-in-out;

}

.btn_purple:hover {
    background-color: purple;
    color: white;

}

.old_price {
    text-decoration: line-through;
    color: gray;
}

.filter_background {
    position: absolute;
    left: 0;

    background-color: #efeef6;
    height: 900px;
    width: 600px;
    z-index: -1;
}

.filter {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    min-height: 650px;
    justify-content: center;
}

.filter li {
    color: gray;
    font-size: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;

}

.filter li:hover {
    color: #4c3db2;
}

.filter li.active {
    color: #4c3db2;
    font-size: 1.5rem;
    font-weight: bold;
}

.filter li.active::before {

    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4c3db2;
    position: absolute;
    left: 10px;
    margin-top: 12px;

}

.basket_modal {
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #5c6a7950;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 250ms ease-in-out;


}

.basket_modal.active {
    opacity: 1;
    z-index: 999;
}

.basket_items {
    position: relative;
    width: 0;
    background-color: white;
    height: 100%;
    float: right;
    transition: all 250ms ease-in-out;



}

.basket_modal.active .basket_items {
    width: 450px;
}

.basket_items .bi-x {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 3rem;
    color: black;
    cursor: pointer;
}

.basket_title {
    color: black;
    margin-top: 5rem;
    text-align: center;
}

.basket_list {
    list-style-type: none;
    padding: 0 10px;
    margin-top: 3rem;
    max-height: 650px;
    overflow-y: auto;

}

.basket_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

}

.basket_item-info {
    width: 250px;
}

.basket_item-info .book_name {
    font-size: 16px;
    font-weight: bold;
}

.basket_item-info .book_price {
    font-size: 16px;

}

.basket_item-info .book_remove {
    cursor: pointer;
    color: gray;

}

.basket_item .book_count {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.book_count .increase {
    margin-left: 5px;
}

.book_count .decrease {
    margin-right: 5px;
}

.book_count .increase,
.decrease {
    cursor: pointer;
    color: #4c3db2;
}

.basket_total {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    align-items: center;
    width: inherit;
}

.basket_total button {
    width: 250px;
}